<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miok.dao.BoardDAO">
	<sql id="includeBoard">
		WHERE BRDDELETEFLAG='N'
		<if test="searchKeyword!=null and searchKeyword!='' and searchType!=''">
			<foreach item="item" index="index" collection="searchTypeArr">
				AND ${item} LIKE CONCAT('%', #{searchKeyword},'%' )
			</foreach>
		</if>
    </sql>
	
	<select id="selectBoardCount" resultType="int" parameterType="com.miok.common.SearchVO">
		SELECT COUNT(*)
		FROM TBL_BOARD
		<include refid="includeBoard" />
	</select>
	
	<select id="selectBoardList" resultType="com.miok.vo.BoardVO" parameterType="com.miok.common.SearchVO">
		SELECT BRDNO, BRDTITLE,
		BRDWRITER, DATE_FORMAT(BRDDATE,'%Y-%m-%d') BRDDATE, BRDHIT,
		(SELECT COUNT(*) FROM TBL_BOARDFILE WHERE BRDNO=TB.BRDNO) FILECNT
		FROM board.TBL_BOARD TB
		<include refid="includeBoard" />
		ORDER BY BRDNO DESC
		LIMIT ${rowStart -1}, ${displayRowCount}
	</select>

	<insert id="insertBoard" parameterType="com.miok.vo.BoardVO">
		<selectKey resultType="String" keyProperty="brdno" order="BEFORE">
			SELECT IFNULL(MAX(BRDNO),0)+1 FROM TBL_BOARD
		</selectKey>
		
		INSERT INTO TBL_BOARD(BRDNO, BRDTITLE, BRDWRITER, BRDMEMO, BRDDATE, BRDHIT, BRDDELETEFLAG)
		VALUES (#{brdno}, #{brdtitle}, #{brdwriter}, #{brdmemo}, NOW(), 0, 'N' )
	</insert>

	<update id="updateBoard" parameterType="com.miok.vo.BoardVO">
		UPDATE TBL_BOARD
		SET BRDTITLE=#{brdtitle}
		, BRDWRITER=#{brdwriter}
		, BRDMEMO=#{brdmemo}
		WHERE BRDDELETEFLAG='N'
		AND BRDNO=#{brdno}
	</update>

	<select id="selectBoardOne" parameterType="int" resultType="com.miok.vo.BoardVO">
		SELECT BRDNO, BRDTITLE, BRDWRITER, BRDMEMO,
		DATE_FORMAT(BRDDATE,'%Y-%m-%d') BRDDATE
		FROM board.TBL_BOARD
		WHERE BRDNO=#{brdno}
	</select>

	<update id="deleteBoardOne" parameterType="int">
		UPDATE TBL_BOARD
		SET BRDDELETEFLAG = 'Y'
		WHERE BRDNO=#{brdno}
	</update>
	
	<update id="updateBoardHit" parameterType="int">
		UPDATE TBL_BOARD
		SET BRDHIT = BRDHIT + 1
		WHERE BRDNO = #{brdno}
	</update>
	
	<!-- 파일첨부부분 -->
	<insert id="insertBoardFile" parameterType="com.miok.common.FileVO">
		INSERT INTO TBL_BOARDFILE (BRDNO, FILENAME, REALNAME, FILESIZE)
		VALUES (#{parentPK}, #{filename}, #{realname}, #{filesize})
	</insert>
	
	<select id="selectBoardFileList" resultType="com.miok.common.FileVO" parameterType="String">
		SELECT FILENO, FILENAME, REALNAME, FILESIZE
		FROM TBL_BOARDFILE
		WHERE BRDNO=#{brdno}
		ORDER BY FILENO DESC
	</select>
	
	<delete id="deleteBoardFile" parameterType="hashmap">
		DELETE
		FROM TBL_BOARDFILE
		WHERE FILENO IN (
						<foreach collection="fileno" item="item" index="index" separator=",">
							${item}
						</foreach>
						)
	</delete>
	
	<!-- 댓글 -->
	<insert id="insertBoardReply" parameterType="com.miok.vo.BoardReplyVO">
	<selectKey resultType="String" keyProperty="reno" order="BEFORE">
		SELECT IFNULL(MAX(RENO), 0)+1 FROM TBL_BOARDREPLY
	</selectKey>
		INSERT INTO TBL_BOARDREPLY(BRDNO, RENO, REWRITER, REDELETEFLAG, REMEMO, REDATE, REORDER, REPARENT, REDEPTH)
		VALUES (#{brdno}, #{reno}, #{rewriter}, 'N', #{rememo}, NOW(), #{reorder},
			<choose>
				<!-- <when test="reparent==null">#{reno}, 0</when> -->
				<when test="reparent==null">#{reno}, 0</when>
				<otherwise>#{reparent}, #{redepth}</otherwise>
			</choose>
		)
	</insert>
	
	<update id="updateBoardReply" parameterType="com.miok.vo.BoardReplyVO">
		UPDATE TBL_BOARDREPLY
		SET REMEMO=#{rememo}
		WHERE RENO=#{reno}
	</update>
	
	<select id="selectBoardReplyList" parameterType="String" resultType="com.miok.vo.BoardReplyVO">
		SELECT BRDNO, RENO, REWRITER, REDELETEFLAG, REMEMO, REDATE, REPARENT, REDEPTH, REORDER
		FROM TBL_BOARDREPLY
		WHERE BRDNO=#{brdno} AND REDELETEFLAG='N'
		ORDER BY REORDER
	</select>
	
	<update id="deleteBoardReply" parameterType="String">
		UPDATE TBL_BOARDREPLY
		SET REDELETEFLAG='Y'
		WHERE RENO=#{reno}
	</update>
	
	<!-- 무한댓글 -->
	<select id="selectBoardReplyParent" parameterType="String" resultType="com.miok.vo.BoardReplyVO">
		SELECT BRDNO, REPARENT, REDEPTH+1 REDEPTH, REORDER
		FROM TBL_BOARDREPLY
		WHERE RENO=#{reparent}
	</select>
	
	<update id="updateBoardReplyOrder" parameterType="com.miok.vo.BoardReplyVO">
		UPDATE TBL_BOARDREPLY
		SET REORDER=REORDER+1
		WHERE BRDNO=#{brdno} AND REORDER>#{reorder} 
	</update>
	
	<select id="selectBoardReplyMaxOrder" parameterType="String" resultType="Integer">
		SELECT IFNULL(MAX(REORDER),0)+1
		FROM TBL_BOARDREPLY
		WHERE BRDNO=#{brdno}
	</select>
	
	<select id="selectBoardReplyChild" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM TBL_BOARDREPLY
		WHERE REPARENT=#{reparent} AND RENO!=#{reparent} AND REDELETEFLAG='N'
	</select>
	
	<update id="updateBoardReplyOrderDelete" parameterType="String">
		UPDATE TBL_BOARDREPLY TBR1
				INNER JOIN TBL_BOARDREPLY TBR2 
				ON TBR2.BRDNO=TBR1.BRDNO 
					AND TBR1.REORDER >TBR2.REORDER 
					AND TBR1.REDELETEFLAG='N'
		SET TBR1.REORDER = TBR1.REORDER - 1
		WHERE TBR2.RENO=#{reno}
	</update>
</mapper>
